@page
@using Newtonsoft.Json.Linq
@model StudentModel
@{
    ViewData["Title"] = "Student Manager";

}

<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <button id="add" type="button" class="btn btn-primary">Add Student</button>
</div>
@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-info" role="alert">
        @TempData["Message"]
        <span>@ViewData["jwt"]</span>
    </div>
}

@if (ViewData["StudentList"] !="" && ViewData["StudentList"] is string jsonString)
{
    var jsonArray = JArray.Parse(jsonString);
    <div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roll Number</th>
                <th>Age</th>
                <th>CGPA</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in jsonArray)
            {
                <tr>
                    <td><input type="text" readonly value="@student["id"]" name="Id" /></td>
                    <td><input type="text" readonly value="@student["name"]" class="form-@student["id"]" name="Name" /></td>
                    <td><input type="text" readonly value="@student["rollNumber"]" class="form-@student["id"]" name="RollNumber" /></td>
                    <td><input type="text" readonly value="@student["age"]" class="form-@student["id"]" name="Age" /></td>
                    <td><input type="text" readonly value="@student["cgpa"]" class="form-@student["id"]" name="Cgpa" /></td>
                    <td style="display:flex;flex-direction:row">
                        <button id="editBtn-@student["id"]" type="button" class="btn btn-primary" onclick="toggleEditSaveDelete('@student["id"]')">Edit</button>
                        <form id="saveForm-@student["id"]" style="display:none" method="post" asp-page-handler="EditStudent" asp-route-id="@student["id"]" onsubmit="toggleSaveEditDelete('@student["id"]')">
                            <input type="hidden" name="Id" />
                            <input type="hidden" name="Name" />
                            <input type="hidden" name="RollNumber" />
                            <input type="hidden" name="Age" />
                            <input type="hidden" name="Cgpa" />
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>

                        <span style="margin-left: 5px; margin-right: 5px;"></span>
                        <form id="deleteForm-@student["id"]" style="display:block" method="post" asp-page-handler="DeleteStudent" asp-route-id="@student["id"]">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            <form method="post" asp-page-handler="OnPostAsync">
            <tr id="newStd" style="display:none">
                <td></td>
                <td><input asp-for="NewStudentDto.Name" class="form-control" /></td>
                <td><input asp-for="NewStudentDto.RollNumber" class="form-control" /></td>
                <td><input asp-for="NewStudentDto.Age" class="form-control" /></td>
                <td><input asp-for="NewStudentDto.Cgpa" class="form-control" /></td>
                <td><button id="save" type="submit" name="addStudent" class="btn btn-success">Save</button></td>
            </tr>
        </form>
    </table>
    </div>
}
else
{
    <p>No student data available.</p>


}

<script>
    document.getElementById("add").addEventListener('click', () => {
        document.getElementById("newStd").style.display = "";
    });

    function toggleEditSaveDelete(studentId) {
        document.getElementById(`editBtn-${studentId}`).style.display = 'none';
        document.getElementById(`saveForm-${studentId}`).style.display = 'block';
        document.getElementById(`deleteForm-${studentId}`).style.display = 'none';
        document.querySelectorAll(`.form-${studentId}`).forEach(input => {
            input.removeAttribute('readonly');
            input.style.background = 'none';
            input.style.border = '2px solid #ced4da';
            input.style.color = '';
            input.style.paddingLeft = '5px';
            input.style.margin = '';
        });
    }

    function toggleSaveEditDelete(studentId) {
        var form = document.getElementById(`saveForm-${studentId}`);
        var idInput = form.querySelector('input[name="Id"]');
        var nameInput = form.querySelector('input[name="Name"]');
        var rollNumberInput = form.querySelector('input[name="RollNumber"]');
        var ageInput = form.querySelector('input[name="Age"]');
        var cgpaInput = form.querySelector('input[name="Cgpa"]');

        idInput.value = studentId;
        nameInput.value = document.querySelector(`.form-${studentId}[name="Name"]`).value;
        rollNumberInput.value = document.querySelector(`.form-${studentId}[name="RollNumber"]`).value;
        ageInput.value = document.querySelector(`.form-${studentId}[name="Age"]`).value;
        cgpaInput.value = document.querySelector(`.form-${studentId}[name="Cgpa"]`).value;

        document.getElementById(`editBtn-${studentId}`).style.display = 'block';
        form.style.display = 'none';
        document.getElementById(`deleteForm-${studentId}`).style.display = 'block';
    }

</script>
<style>
    input {
        border: none;
        outline: none;
        background: none;
        padding: 0;
        margin: 0; 
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
</style>
